extends layout

block inheri
  //index.pug is inserted here 
  block content

  p Test site for M5stack data transfer using UDP & WebSocket
  p#message.poor-writing ws test button

  <input type='button' id='send_server' value='send' />
    
  <p><div id= mes>web socket out put area</div>
  
  <div id="canvas" style="height:200pt; width:400pt">
    <canvas id="myChart"></canvas>
  </div>

